#sidebar-menu .main-menu ul {
    list-style-type: none;
    padding: 0;
}

#sidebar-menu .main-menu a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
    color: #11427D;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.note {
    font-size: 11px;
    font-style: italic;
}

.featurette {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.function-explanation {
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-limit-2-line {
    height: 2em;
    line-height: 1em;
    overflow: hidden;
    word-wrap: break-word;
}

.text-limit-4-line {
    height: 4em;
    line-height: 1em;
    overflow: hidden;
    word-wrap: break-word;
}


/*******************
* thumbnails
*/

.thumbnail-list li:hover {
    opacity: 0.95;
}
.thumbnail-list {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    list-style: none outside none;
}

.thumbnail-list li {
    position: relative;
    float: left;
    opacity: 0.8;
    background: rgb(240, 240, 240);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(249, 249, 249, 1)));
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(249, 249, 249, 1) 100%);
    border: 1px solid #acacac;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 3px 3px rgba(30, 30, 30, 0.2);
    margin: 0 20px 16px 0;
    font-size: 8pt;
    line-height: 10pt;
    height: 125px;
    width: 230px;
    padding: 5px 5px;
}

.thumbnail-list .standard_link {
    position: absolute;
    padding: 5px;
}

.thumbnail-list .edit-item {
    bottom: 0;
    right: 0;
}

.thumbnail-list .delete-item {
    bottom: 0;
    left: 0;
}

.thumbnail-list .copy-item {
    top: 0;
    right: 0;
}

.thumbnail-list {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.thumbnail-list li {
    width: 150px;
    height: 50px;
}

.codeBlock {
        background-color: Azure;
        font-family: 'Courier New';
    } 
    
     #loader {
      display: table-cell;
	  margin-top: 15px;
      margin-bottom: 15px;
	  margin: -75px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myDiv {
  display: none;
  text-align: center;
} 
